{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Edit Todo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link  rel="stylesheet" type="text/css" href="{% static 'edit_todo.css' %}">
</head>

<body>

  <div class="container">
    <div class="card">
      <h2>Edit Todo</h2>

      <form method="POST">
        {% csrf_token %}
        <input type="text" name="title" value="{{ todo.title }}" required>
        <textarea name="describtion" required>{{ todo.describtion }}</textarea>
        <button type="submit">💾 Update Todo</button>
      </form>

      <a href="/todo" class="back">⬅ Back to Todos</a>
    </div>
  </div>

</body>
</html>
